*.tgz
*.pyc
*~
html/ews.map
html/ewswcs.map
html/ewswgs84.map
html/index.html
html/cmapicons
html/efetac_nasa_percent_change_cmap.csv
html/rsac_fhtet_percent_change_cmap.csv
html/view/config
msconfig/forwarn2_maps/*\.map
msconfig/Config.py
msconfig/derivatives.map
msconfig/ews.map
msconfig/ews1year.map
msconfig/ews3year.map
msconfig/ews5year.map
msconfig/ewstruecolor.map
msconfig/ewswcs.map
msconfig/ewswcs1year.map
msconfig/ewswcs3year.map
msconfig/ewswcs5year.map
msconfig/ewswgs84.map
msconfig/integrals.map
msconfig/layerTitles.txt
msconfig/modisndvi.map
msconfig/parameters.map
msconfig/rlayers.map
msconfig/vlayers.map
msconfig/wlayers.map
msconfig/aklayers.map
msconfig/linkdir
msconfig/NRTLayerLID.csv
msconfig/DRTLayerLID.csv
msconfig/efetac_nasa_percent_change_cmap.cmap
msconfig/rsac_fhtet_percent_change_cmap.cmap
msconfig/dyna_maps/*.map
msconfig/hotspot_update
msconfig/duration.map
msconfig/magnitude.map
msconfig/treatments.map
msconfig/phenoregions.map
msconfig/fire.map
msconfig/ads.map
msconfig/boundaries.map
msconfig/mmax.map
msconfig/muc.map
msconfig/max.map
msconfig/landcover-mask.map
msconfig/forwarn-ndvi-change.map
msconfig/FW2_PHENO_PROGRESS.map
msconfig/FW2_1YR.map
msconfig/FW2_5YR.map
msconfig/FW2_MEDIAN_ALL_YR.map
msconfig/FW2_3YR.map
msconfig/FW2_90_10_YR.map
msconfig/FW2_ALC.map
msconfig/FW2_MUTED_1YR.map
msconfig/FW2_MUTED_5YR.map
msconfig/FW2_MUTED_MEDIAN_ALL_YR.map
msconfig/FW2_MUTED_3YR.map
msconfig/FW2_MUTED_90_10_YR.map
msconfig/FW2_MUTED_ALC.map
*.swp
