MAP
    # the following two lines tell MapServer to write debugging output to a log file.  Remove the '#' from the beginning
    # of the two lines below to enable this logging:
    #CONFIG "MS_ERRORFILE" "%(MS_ERRORFILE)s"
    #DEBUG 5

    # all temp files get prefixed with this string
    NAME %(TEMP_FILE_PREFIX)s

    #jdm:added to accomodate map layers
    #see http://trac.osgeo.org/mapserver/ticket/3055
    MAXSIZE 3072      
    
    # background color of image if transparency
    # is not requested
    IMAGECOLOR 255 255 255

    # default output image dimensions
    SIZE 600 400

    # always returns a map
    STATUS ON

    # set top level projection
    PROJECTION
     %(MAPFILE_PROJECTION)s
    END

    # image format options
    OUTPUTFORMAT
     NAME png
     DRIVER "GD/PNG"
     MIMETYPE "image/png"
     IMAGEMODE RGB
#     IMAGEMODE RGBA
#     TRANSPARENT ON
     EXTENSION "png"
    END

    # minx miny maxx maxy
    # sets:
    # /WMT_MS_Capabilities/Capability/Layer/LatLonBoundingBox(@minx @miny @maxx @maxx)
    EXTENT -180 -90 180 90 # World

    # add def pointers for symbols
    SYMBOLSET "./symbols/symbols35.sym"
    FONTSET   "./fonts/fonts.list"

    #
    # Start of web interface definition
    WEB

        # this is the real filepath to the temp dir for intermediate file creation
        IMAGEPATH "./tmp"

        # this is the web-accessible path to IMAGEPATH
        IMAGEURL "/tmp/"

        HEADER "./templates/query_header.html"
        FOOTER "./templates/query_footer.html"

        METADATA
            "ows_enable_request"     "*"
            "wms_title"              "%(OWS_TITLE)s"
            "wms_abstract"           "%(OWS_ABSTRACT)s"
            "wms_onlineresource"     "%(SERVICE_URL)s"
            "wms_srs"                "%(WMS_SRS)s EPSG:900913"
	    "wcs_label"              "NEMAC ews WCS"
            "wcs_srs"                "EPSG:2163 EPSG:4326"
        END
    END

    QUERYMAP
        STATUS OFF
    END

    # set defaults for GetLegendGraphic requests 
    LEGEND
      #KEYSIZE 137 55
      #KEYSIZE 175 277
      #KEYSIZE 181 277
      KEYSIZE 154 297
    END

%(LAYERS)s

    LAYER
        NAME firescars         
        PROJECTION
          "+proj=laea"
          "+lat_0=45"
          "+lon_0=-100"
          "+x_0=0"
          "+y_0=0"
          "+a=6370997"
          "+b=6370997"
          "+units=m"
          "+no_defs"
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     /flood/fsdata-internal/efetac_nasa/AncillaryData/conus_fire_scars_2000_thru_2012_from_mtbs_and_geomac_us4b.img
        HEADER   ./templates/layer_query_header.html
        TEMPLATE ./templates/layer_query_body.html
        CLASS
            EXPRESSION ([pixel] = 1)
            COLOR 255 158 175
        END
        CLASS
            EXPRESSION ([pixel] = 2)
            COLOR 232 91 232
        END
        CLASS
            EXPRESSION ([pixel] = 3)
            COLOR 170 0 229
        END
        CLASS
            EXPRESSION ([pixel] = 4)
            COLOR 0 0 255
        END
        CLASS
            EXPRESSION ([pixel] = 5)
            COLOR 0 127 255
        END
        CLASS
            EXPRESSION ([pixel] = 6)
            COLOR 0 255 255
        END
        CLASS
            EXPRESSION ([pixel] = 7)
            COLOR 0 204 0
        END
        CLASS
            EXPRESSION ([pixel] = 8)
            COLOR 147 198 0
        END
        CLASS
            EXPRESSION ([pixel] = 9)
            COLOR 255 255 0
        END
        CLASS
            EXPRESSION ([pixel] = 10)
            COLOR 255 165 0
        END
        CLASS
            EXPRESSION ([pixel] = 11)
            COLOR 255 0 0
        END
        CLASS
            EXPRESSION ([pixel] = 12)
            COLOR 192 0 0
        END        
        CLASS
            EXPRESSION ([pixel] = 13)
            COLOR 140 51 25
        END  	
        METADATA
            "wms_title"                  "Firescars 2000-2010"
            "wms_abstract"               "Firescars 2000-2010"
            "wcs_label"                  "firescars WCS"
            "wcs_rangeset_name"          "firescars WCS"
            "wcs_rangeset_label"         "firescars WCS"
            "gml_include_items"          "class"		
        END  # end METADATA
    END # end LAYER    
	
	#jdm 5/9/2013: The next four layers are for support of masking
	#This should probably be more dynamic e.g. automated through makemap.py, 
	#but they are only asking for a few currently and this is a test to see how it will be done
	#see  https://github.com/nemac/fswms/issues/15
    #EFETAC-NASA_1YrBaseline_current

    LAYER
        NAME MaskForDeciduousForest
        PROJECTION
          "+proj=laea"
          "+lat_0=45"
          "+lon_0=-100"
          "+x_0=0"
          "+y_0=0"
          "+a=6370997"
          "+b=6370997"
          "+units=m"
          "+no_defs"
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     /flood/fsdata-internal/efetac_nasa/Mask/51pct_231m_fs_n6_deciduous_laea.img.img
        CLASS
            EXPRESSION ([pixel] > 0)
            COLOR 0 0 0
        END
    END # end LAYER	
    LAYER
        NAME MaskForConiferForest
        PROJECTION
          "+proj=laea"
          "+lat_0=45"
          "+lon_0=-100"
          "+x_0=0"
          "+y_0=0"
          "+a=6370997"
          "+b=6370997"
          "+units=m"
          "+no_defs"
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     /flood/fsdata-internal/efetac_nasa/Mask/51pct_231m_fs_n6_evergreen_laea.img.img
        CLASS
            EXPRESSION ([pixel] > 0)
            COLOR 0 0 0
        END
    END # end LAYER	
    LAYER
        NAME MaskForMixedForest
        PROJECTION
          "+proj=laea"
          "+lat_0=45"
          "+lon_0=-100"
          "+x_0=0"
          "+y_0=0"
          "+a=6370997"
          "+b=6370997"
          "+units=m"
          "+no_defs"
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     /flood/fsdata-internal/efetac_nasa/Mask/51pct_231m_fs_n6_mixedforest_laea.img.img
        CLASS
            EXPRESSION ([pixel] > 0)
            COLOR 0 0 0
        END
    END # end LAYER	
    LAYER
        NAME MaskForRangeAgricultureShrub
        PROJECTION
          "+proj=laea"
          "+lat_0=45"
          "+lon_0=-100"
          "+x_0=0"
          "+y_0=0"
          "+a=6370997"
          "+b=6370997"
          "+units=m"
          "+no_defs"
        END
        TYPE     RASTER
        DUMP     TRUE
        STATUS   OFF
        DATA     /flood/fsdata-internal/efetac_nasa/Mask/51pct_231m_fsum_crop_grass_pasture_shrubscrub_laea.img
        CLASS
            EXPRESSION ([pixel] > 0)
            COLOR 0 0 0
        END
    END # end LAYER	    

END # end MAP
